*{
	padding: 0;
	margin: 0;
}
.container{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.header{
	width: 100%;
	height: 100vh;
	background-image: url('../fondo.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	display: flex;
	text-align: center;
}
#logo{
	width: 40%;
	margin: auto;
	text-align: center;
}
#logo img{
	width: 100%;
}
.nav{
	display: block;
}
.nav ul{
	
}
.nav ul li{
	display: inline-block;
	padding: 10px;
}
.nav ul li a{
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}
.nav ul li a:hover{
	text-decoration: underline;
}
.ulcontainer{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	text-align: center;
}
.section{
	display: block;
	text-align: center;
	width: 100%;
	height: 700px;
	background-color: green;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.nosotros{
	background-color: gray;
}
.servicios{
	background-color: red;
}
.contacto{
	background-color: blue;
}

.title{
  font-weight: 300;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
.title::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 1px solid white;
}
.textcontainer{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.centercontent{
	margin: auto;
	text-align: center;
}
.fa-arrow-circle-down{
	font-size: 30px;
}
.arrow{
	position: absolute;
	bottom: 10px;
}
.boxParent{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.boxChild{
	margin: 15px;
	width: 20%;
}
.boxChild img{
	width: 100%;
}

.footer{
	text-align: center;
}
.footer img{
	width: 12%;
	filter: invert(100%);
}
.footer nav ul li a{
	color: green;
}
a i{
	text-decoration: none;
	color: black;
}
.contact-item{
	font-size: 40px;
	color: white;
	margin-bottom: 10px;
}
.boxChild h3{
	color: white;
	text-transform: uppercase;
}
.boxChild p{
	color: white;
}
.boxChild ul{
	list-style: none;
}
.box-border{
	border: 2px white solid;
	width: 30%;
}
.contacto{
	height: 270px;
}
/* Media queries */

@media only screen and (max-width: 1024px) {
    
}